body{background-color: rgb(0,0,0,0.1);scroll-behavior: smooth;}
a {text-decoration: none !important;}
.header{height: 100vh;background-image: url(../images/bg.png);background-position: center;background-size: cover;position: relative;}
.bg-header{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgb(0,0,0,0.5);}
.navbar-nav .nav-link {color: rgb(250, 250, 250);fill: rgb(250, 250, 250);font-family: Poppins, sans-serif;font-size: 18px;font-weight: 500;padding: 13px 20px;padding-right: 20px !important;padding-left: 20px !important;}
.header .container {position: relative;height: 100%;}
.mt-25{
    position: absolute;
    bottom: 10px;
}
.header .header-title{
    margin-top: 25%;
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    text-transform: uppercase;
}
.header p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
}

.victim ol{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(20,1fr);
}
.victim ol li{
    width: 100%;
    height: 50px;
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.victim ol li a{
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 100%;
    padding: 3px;
    cursor: pointer;
}
.victim ol li a.semu{
    background: #d4d4d4;
    opacity: 0.3;
}
.victim ol li a img{
    width: 100%;
    border-radius: 100%;
}
.victim .row p{
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: normal;
}
.line{margin: 25px 5px 5px 5px;padding: 0px 0px 0px 0px;border-style: solid;border-width: 5px 0px 0px 0px;border-color:#000;width: 100%;}
.victim center a, .victim-story center a{
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 60px 20px 60px;
    font-size: 16px;
    text-transform: uppercase;
}
.victim-story .heading-title{
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.container-story{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 280px;
    max-width: 1140px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.container-story .container-story-image{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    border-radius: 10px;
}
.container-story .container-story-image div{
    opacity: .52;
    filter: brightness( 99% ) contrast( 102% ) saturate( 99% ) blur( 0px) hue-rotate( 0deg );
    height: 100%;
    width: 100%;
    padding-top: 200px;
}

.container-story .container-story-image p{
    font-family: poppins,Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-shadow: 0 0 10px rgb(0 0 0 / 30%);
    margin: 0;
}

.container-story-detail div{
    margin: -10px 0 0 10px;
    padding: 10px;
}
.container-story-detail .judul{
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0px;
    margin-bottom: 20px;
    display: block;
}

.container-story-detail p{
    color: #000;
    font-family: poppins,Sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.container-story-detail .readmore{
    font-family: poppins,Sans-serif;
    font-weight: 400;
    font-style: normal;
    fill: #262946;
    color: #262946;
    background-color: #fed409;
    border-radius: 50px 50px 50px 50px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px 24px;
    display: -webkit-inline-box;
}
.container-story-detail .readmore:hover {
    transform: scale(1.1);
}
.footer .footer-main{
    background-color: #000;background-image: url(../images/footer.jpg);background-position: top center;background-size: cover;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: -3px;margin-bottom: -3px;padding: 100px 0 50px;position: relative;
}
.footer .footer-main .overlay{
    background-color: #000;opacity: .5;transition: background .3s,border-radius .3s,opacity .3s;height: 100%;width: 100%;top: 0;left: 0;position: absolute;z-index: 1;
}
.footer .footer-main .container{
    position: relative;z-index: 2;
}
.footer .footer-main .container .flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;}
.footer .footer-main .container .flex .logo img{
    display: block;margin-bottom: 1rem;width: 200px;
}
.footer .footer-main .container .flex .logo p{
    color: #fff;font-family: poppins,Sans-serif;font-size: 14px;font-weight: 400;
}
.footer .footer-main .container .flex .menu ul li{
    list-style: none;
}
.footer .footer-main .container .flex .menu ul li.title{
    color: #fff;font-family: poppins,Sans-serif;font-size: 22px;font-weight: 600
}
.footer .footer-main .container .flex .menu ul li a{
    color: #fff;font-family: poppins,Sans-serif;font-size: 16px;font-weight: 400;
}
.victim-container {
    background-color: #262946;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0;margin-bottom: 35px;padding: 20px 10px;
}
.victim-container img{
    border-radius: 10px 10px 10px 10px;vertical-align: middle;display: block;height: auto;max-width: 100%;border: none;margin: auto;
}
.victim-container h4{
    color: #d1d1d1;
    font-family: poppins,Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.victim-container h5{
    color: #fff;
    font-family: poppins,Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.victim-container h5.nama-korban{
    font-size: 34px;
    font-weight: 600;
}
.paginator{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.paginator button{
    margin-right: 5px;
    margin-left: 5px;
}
@media (min-width: 768px){
    .container-story .container-story-image{
        width: 40%;
    }
    .container-story .container-story-detail{
        width: 60%;
        display: table;
        min-height: 280px;
        margin-left: 10px;
    }
    .container-story .container-story-detail > div{
        display: table-cell;
        vertical-align: middle;
    }
}
@media (max-width: 768px){
    .victim-container h5.nama-korban{
        font-size: 25px;
    }
    .container-story .container-story-image{
        width: 40%;
    }
    .container-story .container-story-detail{
        width: 60%;
        display: table;
        min-height: 280px;
        margin-left: 10px;
    }
    .container-story .container-story-detail > div{
        display: table-cell;
        vertical-align: middle;
    }
    .victim ol {
        grid-template-columns: repeat(15,1fr);
    }
    .line{margin: 5px auto;padding: 0px 0px 0px 0px;border-style: solid;border-width: 5px 0px 0px 0px;border-color:#000;width: 100%;}
    .victim-count-effect p{margin: 0;}
}
@media (max-width: 545px) {
    .header p{
        font-size: 20px;
        line-height: 1.4;
    }
    .container-story {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .container-story .container-story-image{
        width: 100%;
    }
    .container-story .container-story-detail{
        display: table;
        width: 100%;
        margin-left: 0px;
    }
    .container-story .container-story-detail > div{
        display: table-cell;
        vertical-align: middle;
    }
    .container-story .container-story-detail > div > center{
        text-align: left;
    }
    .victim ol {
        grid-template-columns: repeat(7,1fr);
    }
    .line{margin: 5px auto;padding: 0px 0px 0px 0px;border-style: solid;border-width: 5px 0px 0px 0px;border-color:#000;width: 100%;}
    .victim-count-effect p{margin: 0;}
    .footer .footer-main .container .flex{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer .footer-main .container .flex .menu ul {
        padding: 0;
    }
}
.hide{opacity: 0;}

.navbar-toggler-icon{
    display: block !important;
    position: relative;
}
.navbar-toggler-icon svg{
    position: absolute;
    top: 0;
}

.navbar-toggler.collapsed .navbar-toggler-icon svg.cookie_close_icon{
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}
.navbar-toggler .navbar-toggler-icon svg.cookie_open_icon, .navbar-toggler.collapsed .navbar-toggler-icon svg.cookie_close_icon{
    opacity: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.navbar-toggler.collapsed .navbar-toggler-icon svg.cookie_open_icon{
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
#blog_preloader_wrapper {
    background-color: #f3f4f7;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483647;
}
#blog_preloader_wrapper #blog_preloader_box {
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 80px;
}
.blog_loader {
    position: relative;
}
.blog_loader>div {
	position: absolute;
    left: 20px;
    top: 10px;
    border: 3px solid #000;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    -webkit-animation: rotate 1s 0s ease-in-out infinite;
    animation: rotate 1s 0s ease-in-out infinite;
}
.blog_loader>div:last-child {
    display: inline-block;
    top: 25px;
    left: 35px;
    width: 25px;
    height: 25px;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    border-color: #000 transparent;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
@keyframes rotate{
    0%{
        -webkit-transform:rotate(0) scale(1);
        transform:rotate(0) scale(1)
    }
    50%{
        -webkit-transform:rotate(180deg) scale(.6);
        transform:rotate(180deg) scale(.6)
    }
    100%{
        -webkit-transform:rotate(360deg) scale(1);
        transform:rotate(360deg) scale(1)
    }
}